*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--hub-bg-0);
  color: var(--hub-fg);
  font-family: var(--font-hub);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
